.footer__title {
  color: var(--white-color);
  margin-bottom: 20px;
  padding-top: 12px;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-form__container {
  margin-right: 12px;
}

.footer-form__input {
  padding: 15px 16px;
  width: 358px;
  border: 1px solid var(--footer-form-border);
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-form-color);

  transition: border-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--blue-background);
  }
}

.footer-form__icon {
  fill: currentColor;
}

.footer-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-right: 10px;
  }
}
